body{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 0;
}

#side_graphic{
    position: relative;
    width: 40%;
}

#cyberpunk_pic{
    max-width: 100%;
}

#logo{
    position: absolute;
    width: 40%;
    height: auto;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 25%;
}

#artist_credit{
    position: absolute;
    bottom: 20px;
    color: white;
    left: 50%;
    transform: translate(-50%, -50%);
}

a{
    color: white;
}

#form{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-left: 40px;
}

#footer{
    display: flex;
    flex-direction: column;
}