body{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 0;
}

#side_graphic{
    flex: 1;
}

#cyberpunk_pic{
}

#form{
    display: flex;
    flex-direction: column;
    flex: 2;
    width: 60%;
}

#footer{
    display: flex;
    flex-direction: column;
}